In [1]:
display("hello world")

'hello world'

# String Data type in python

In [3]:
#  "\"  line continue, in execution backslash will be ignored and execute like(2 + 8 + 9)
print(2 +\
       7 +\
        9)

18

In [15]:
# Boundaries
# 'string text', "string text", '''string text''', """ string text"""
name:str = "Saleem"
fname:str = "Ghulam"
age:int = 41
education:str = "Masters in Computer science"

card:str = "PIAIC Students Card\nStudent Name: " + name +\
"\nfname: " + fname +\
"\nAge : " + str(age) + "\n" +\
"Education : " + education

print(card)

PIAIC Students Card
Student Name: Saleem
fname: Ghulam
Age : 41
Education : Masters in Computer science

In [1]:
# Boundaries
# 'string text', "string text", '''string text''', """ string text"""
name:str = "Saleem"
fname:str = "Ghulam"
age:int = 41
education:str = "Masters in Computer science"

card:str = """
PIAIC Students Card
Student Name:------- 
fname: --------
Age : ---------
Education : -------
"""

print(card)

PIAIC Students Card
Student Name:-------
fname: --------
Age : ---------
Education : -------

In [17]:
# Boundaries
# 'string text', "string text", '''string text''', """ string text"""
name:str = "Saleem"
fname:str = "Ghulam"
age:int = 41
education:str = "Masters in Computer science"

card:str = '''
PIAIC Students Card
Student Name:------- 
fname: --------
Age : ---------
"Education : -------
'''

print(card)

PIAIC Students Card
Student Name:-------
fname: --------
Age : ---------
"Education : -------

# f-string

In [19]:
# Boundaries
# 'string text', "string text", '''string text''', """ string text"""
name:str = "Saleem"
fname:str = "Ghulam"
age:int = 41
education:str = "Masters in Computer science"

card:str = f"""
PIAIC Students Card
Student Name: {name}
fname: {fname}
Age : {age}
Education : {education}
"""

print(card)

PIAIC Students Card
Student Name: Saleem
fname: Ghulam
Age : 41
Education : Masters in Computer science

In [21]:
# Boundaries
# 'string text', "string text", '''string text''', """ string text"""
name:str = "Saleem"
fname:str = "Ghulam"
age:int = 41
education:str = "Masters in Computer science"

card:str = f'''
PIAIC Students Card
Student Name: {name}
fname: {fname}
Age : {age}
Education : {education}

Total = {5 + 8 +9}

'''

print(card)

PIAIC Students Card
Student Name: Saleem
fname: Ghulam
Age : 41
Education : Masters in Computer science

Total = 22

In [25]:
name:str = "Saleem"
fname:str = "Ghulam"
age:int = 41
education:str = "Masters in Computer science"

card:str = f'''
PIAIC Students Card
Student Name: %s
fname: %s
Age : %d
Education : %s
''' %(name, fname, age, education)

print(card)

PIAIC Students Card
Student Name: Saleem
fname: Ghulam
Age : 41
Education : Masters in Computer science

In [28]:
name:str = "Saleem"
fname:str = "Ghulam Muhammad"
age:int = 41
education:str = "Masters in Computer science"

card:str = '''
PIAIC Students Card
Student Name:{}
fname: {}
Age : {}
Education : {}
'''.format(name, fname, age, education)

print(card)

PIAIC Students Card
Student Name:Saleem
fname: Ghulam Muhammad
Age : 41
Education : Masters in Computer science

In [29]:
name:str = "Saleem"
fname:str = "Ghulam Muhammad"
age:int = 41
education:str = "Masters in Computer science"

card:str = '''
PIAIC Students Card
Student Name:{1}
fname: {2}
Age : {3}
Education : {0}
'''.format( education, name, fname, age)
#               0       1       2    3

print(card)

PIAIC Students Card
Student Name:Saleem
fname: Ghulam Muhammad
Age : 41
Education : Masters in Computer science

In [31]:
name:str = "Saleem"
fname:str = "Ghulam Muhammad"
age:int = 41
education:str = "Masters in Computer science"

card:str = '''
PIAIC Students Card
Student Name:{b}
fname: {c}
Age : {d}
Education : {a}
'''.format( a= education, b= name, c = fname, d =age)


print(card)

PIAIC Students Card
Student Name:Saleem
fname: Ghulam Muhammad
Age : 41
Education : Masters in Computer science

In [30]:
name:str = "Saleem"
fname:str = "Ghulam"
age:int = 41
education:str = "Masters in Computer science"

card:str = f'''
PIAIC Students Card
Student Name: %s
fname: %s
Age : %d
Education : %s
''' %(name, fname, age, education)

print(card)

PIAIC Students Card
Student Name: Saleem
fname: Ghulam
Age : 41
Education : Masters in Computer science

# execute ()  method

In [35]:
student_code : str = """
print("I am a student of PIAIC")

a : int = 2
b : int = 7
print(a + b)
"""
exec(student_code)

I am a student of PIAIC
9

## F-string and Jinja style

In [22]:
f'''
Student Name : {name}
'''

'\nStudent Name : Saleem\n'

In [2]:
# jinja Style 
name:str = "aslemmmm"

student:str = """
Student Name : {{name}}
"""
print(name)

aslemmmm

In [37]:

string_method = dir(str)
print(string_method)
print(len(string_method))
a:list[str] = [i for i in dir(str) if "_" not in i]
print(a)

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
81
['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

# {} placeholder

In [19]:
# {} placeholder
a = 5 
b = 4
"pakistan value is {} and value  {}".format(a, b)

'pakistan value is 5 and value  4'

In [20]:
name:str = "MuHaMMad SAleem"
print(name.capitalize())

Muhammad saleem

In [21]:
name:str = "MuHaMMad SAleem"
print(name.casefold())

muhammad saleem

In [24]:
name:str = "MuHaMMad SAleem"
print(name.lower()) # all letters in lowercase
print(name.upper()) # all letters in uppercase
print(name.capitalize()) # first letter of each word will be capitalized

muhammad saleem
MUHAMMAD SALEEM
Muhammad saleem

In [28]:
import re

name : str = "      Muhammad            Saleem           "

display(name)
display(name.lstrip())
display(name.rstrip())
display(name.strip())
name1 : str = re.sub(' {2,100}', '' , name).strip()
#name1 : str = re.sub(' {2,100} ', '' , name).strip()
display(name1)

'      Muhammad            Saleem           '

'Muhammad            Saleem           '

'      Muhammad            Saleem'

'Muhammad            Saleem'

'MuhammadSaleem'

In [31]:
print("hello\t\tworld")# tab command
print("hello\nworld") # line break

hello		world
hello
world

In [32]:
remove_url : str = 'https://nostarch.com'
remove_url.removeprefix("https://")

'nostarch.com'