# WORKING WITH LISTS

In [9]:
# for loop used to map all the items in the list

motorcycles: list[str] = ["honda", "suzuki", "yamaha", "united", "metro"]
print(motorcycles)
for motorcycle in motorcycles:
    print(f"{motorcycle.title()} is my favourite motocycle.\n")

['honda', 'suzuki', 'yamaha', 'united', 'metro']
Honda is my favourite motocycle.

Suzuki is my favourite motocycle.

Yamaha is my favourite motocycle.

United is my favourite motocycle.

Metro is my favourite motocycle.

In [8]:

motorcycles: list[str] = ["honda", "suzuki", "yamaha", "united", "metro"]
print(motorcycles)
for motorcycle in motorcycles:
    print(f"{motorcycle.title()} is my favourite motocycle")
    print(f"I can't wait to see your next trick, {motorcycle.title()}.\n")

['honda', 'suzuki', 'yamaha', 'united', 'metro']
Honda is my favourite motocycle
I can't wait to see your next trick, Honda.

Suzuki is my favourite motocycle
I can't wait to see your next trick, Suzuki.

Yamaha is my favourite motocycle
I can't wait to see your next trick, Yamaha.

United is my favourite motocycle
I can't wait to see your next trick, United.

Metro is my favourite motocycle
I can't wait to see your next trick, Metro.

In [4]:

motorcycles: list[str] = list("abcdefhilkxruopdj")
print(motorcycles)
print(motorcycles[0])

['a', 'b', 'c', 'd', 'e', 'f', 'h', 'i', 'l', 'k', 'x', 'r', 'u', 'o', 'p', 'd', 'j']
a

In [14]:


motorcycles: list[str] = ["honda", "suzuki", "yamaha", "united", "metro"]
print(motorcycles)
for motorcycle in motorcycles:
    print(f"{motorcycle.title()} is my favourite motocycle.\n")
print("I can't wait to see your next trick.\n'working with people'")

['honda', 'suzuki', 'yamaha', 'united', 'metro']
Honda is my favourite motocycle.

Suzuki is my favourite motocycle.

Yamaha is my favourite motocycle.

United is my favourite motocycle.

Metro is my favourite motocycle.

I can't wait to see your next trick.
'working with people'

In [21]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
print(f"I can't wait to see your next trick, {magician.title()}.\n")

Alice, that was a great trick!
David, that was a great trick!
Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

# range function

In [24]:
number = range(6)
print(list(number))

[0, 1, 2, 3, 4, 5]

In [27]:
number = list(range(1, 6))
print(number)

[1, 2, 3, 4, 5]

In [28]:
squares: list[int] = []
for value in range(1, 11):
    square = value**2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# list comprehension

In [30]:
# list comprehension
# list comprehension is used to write the code in one line, it combines the for loop and new value creation and also append
squares: list[int] = [value**2 for value in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Slicing a List

In [43]:
#   indexing =       0  1   2   3   4   5   6   7   8   9
squares: list[int] = [1, 4,  9, 16, 25, 36, 49, 64, 81, 100]
# negative-index    -10 -9 -8  -7  -6  -5  -4  -3  -2   -1

# If you omit the first index in a slice, Python automatically starts your slice at the beginning of the list
print(squares[:3])
print(squares[3:])  # all items from the third item through the last item
print(squares[0:3])  # Operation always performed from left to right

# it will print index from 0 to 2 due to one-off-one behaviour in python
print(squares[-10:-7])
# it will print index from 0 to 2 due to one-off-one behaviour
print(squares[-10:3])
print(squares[0:-7])
# when step is set to -1 it will print from right to left;
print(squares[-1:-7:-1])

[1, 4, 9]
[16, 25, 36, 49, 64, 81, 100]
[1, 4, 9]
[1, 4, 9]
[1, 4, 9]
[1, 4, 9]
[100, 81, 64, 49, 36, 25]

# Looping Through a Slice

In [50]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print("Here are the first three elements of players:")
for player in players[:3]:
    print(player)

Here are the first three elements of players:
charles
martina
michael

In [51]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']

player2 = players[:]

players.append("saleem")
player2.append("abdullah")
print(players)
print(player2)

['charles', 'martina', 'michael', 'florence', 'eli', 'saleem']
['charles', 'martina', 'michael', 'florence', 'eli', 'abdullah']

In [56]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']

player2 = players[:]

players.append("saleem")
# player2.append("abdullah")
print(players)
print(player2)

['charles', 'martina', 'michael', 'florence', 'eli', 'saleem']
['charles', 'martina', 'michael', 'florence', 'eli']

In [59]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']

player2 = players.copy()  # deep copy

players.append("saleem")
player2.append("abdullah")
print(players)
print(player2)

['charles', 'martina', 'michael', 'florence', 'eli', 'saleem']
['charles', 'martina', 'michael', 'florence', 'eli', 'abdullah']

In [19]:



data_base : list[tuple[str, str]] = [("saleem", "123"),
                                     ("saram", "345"),
                                     ("nadeem", "321")
                                     ]
user_input: str = input("enter your input")
user_password:str = input("Enter your password")
for row in data_base:
    user, password = row
    if  user_input == user and user_password  == password:
        print("user is in the list")
        break
    else:
        print("not found") 
        break

user is in the list

In [21]:


data_base : list[tuple[str, str]] = [("saleem", "123"),
                                     ("saram", "345"),
                                     ("nadeem", "321")
                                     ]
user_input: str = input("enter your input")
user_password:str = input("Enter your password")
for row in data_base:
    user, password = row
    if  user_input == user and user_password  == password:
        print("user is in the list")
        break
else:
    print("not found")

not found

In [25]:
#enumerate is generator function
players = ['charles', 'martina', 'michael', 'florence', 'eli']
enumerate(players)

In [22]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']


list(enumerate(players))

[(0, 'charles'), (1, 'martina'), (2, 'michael'), (3, 'florence'), (4, 'eli')]

In [24]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
enumerate(players)

for index, name in enumerate(players):
    print(index, name)

0 charles
1 martina
2 michael
3 florence
4 eli

In [27]:
for n in range(1,11):
    print(f"{3} X {n} = {n*3}")

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

In [28]:
num : int = int(input("enter num"))
for n in range(1,11):
    print(f"{num} X {n} = {n*num}")

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60

In [31]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
player22 = tuple(players)
print(player22)

('charles', 'martina', 'michael', 'florence', 'eli')

# sets data types
* unordered
* immutable
* unindexed
* duplicates not allowed
* Mix of  data types 
* any data type

In [33]:
# access thr value from set
data_list = {"saleem", True, 123}
print(data_list)

{'saleem', 123, True}

In [34]:
# access thr value from set

list_1 = {"a", "b", "c", "d"}
for x in list_1:
    print(x)

d
c
b
a

In [36]:
# add the value in setmby using add()function
list_1 = {"a", "b", "c", "d"}
print(list_1)
list_1.add("e")
print(list_1)

{'d', 'c', 'b', 'a'}
{'e', 'b', 'a', 'd', 'c'}

In [40]:
# remove the value in setmby using remove()function
list_1 = {"a", "b", "c", "d"}
print(list_1)
list_1.remove("d")
print(list_1)

{'d', 'c', 'b', 'a'}
{'c', 'b', 'a'}

In [38]:
# update the value in set by using update()function
list_1 = {"a", "b", "c", "d"}
list_2 = {"n", "0", "p", "q"}
print(list_1)
print(list_2)
list_1.update(list_2)
print(list_1)

{'d', 'c', 'b', 'a'}
{'q', '0', 'p', 'n'}
{'q', '0', 'p', 'n', 'b', 'a', 'd', 'c'}

In [39]:
# joing two lists by using union()function
list_1 = {"a", "b", "c", "d"}
list_2 = {"n", "0", "p", "q"}
print(list_1)
print(list_2)
list_3 = list_1.union(list_2)
print(list_3)

{'d', 'c', 'b', 'a'}
{'q', '0', 'p', 'n'}
{'q', '0', 'p', 'n', 'b', 'a', 'd', 'c'}

In [43]:
# keep only duplicate whie joining
list_1 = {"a", "b", "c", "q"}
list_2 = {"n", "0", "a", "q"}
print(list_1)
print(list_2)
list_1.intersection_update(list_2)
print(list_1)

{'q', 'c', 'b', 'a'}
{'q', '0', 'n', 'a'}
{'q', 'a'}

In [44]:
# keep all value except duplicate whie joining
list_1 = {"a", "b", "c", "q"}
list_2 = {"n", "0", "a", "q"}
print(list_1)
print(list_2)
list_1.symmetric_difference_update(list_2)
print(list_1)

{'q', 'c', 'b', 'a'}
{'q', '0', 'n', 'a'}
{'0', 'n', 'b', 'c'}

# Dictionary Data Types
* key- value pairs
* ordered
* mutable
* unindexed
* duplicates not allowed
* any data type